@use "./variables" as *;

.about {
    padding-left: $padding-sides-mobile;
    padding-right: $padding-sides-mobile;

    &__heading {
        padding-bottom: 80px;
        font-size: $font-size-heading;
        font-family: $font-title;
    }

    &__headshot {
        display: flex;
        justify-content: center;
        align-self: center;

    }

    &__text {
        font-family: $font-paragraph;
        font-size: $font-size-paragraph;
        line-height: $line-height;
        padding-top: 70px;
        padding-right: 20px;
        padding-bottom: 80px;
    }
}

.about__headshot-image {
    width: 380px;
}

@media screen and (min-width: 768px) {

    .about {
        padding-left: $padding-sides-desktop;
        padding-right: $padding-sides-desktop;

        &__heading {
            padding-bottom: 0;
        }

        &__headshot-text {
            display: flex;
            flex-direction: row-reverse;
            padding-bottom: 80px;
        }

        &__headshot {
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        &__text {
            width: 500px;
        }
    }

    .about__headshot-image {
        width: 250px;
    }
    

}