@use "./variables" as *;

.about {
    padding-left: 20px;

    &__heading {
        padding-bottom: 80px;
        font-size: $font-size-heading;
        font-family: $font-title;
    }

    &__headshot {
        display: flex;
        justify-content: center;
        align-self: center;

    }

    &__text {
        font-family: $font-paragraph;
        font-size: $font-size-paragraph;
        line-height: $line-height;
        padding-top: 70px;
        padding-right: 20px;
        padding-bottom: 80px;
    }
}

