@use "./variables" as *;

.footer {
    height: 110px;
    width: 100%vw;
    background-color: $primary-color;

    &__buttons {
       display: flex; 
       justify-content: center;
       align-items: center;
       height: 110px;
       width: 100%vw;
    }

    &__button {
        height: 55px;
        width: 55px;
        margin: 10px;
        background-color: $secondary-color;
        border-radius: 50%;
        box-shadow: 0;
    }
    

}