@use "./variables" as *;

.footer {
    height: 110px;
    background-color: $primary-color;
    display: flex; 
    justify-content: center;
    align-items: center;

    // &__buttons {
    //    height: 110px;
    //    width: 100%vw;
    // }

    &__button {
        height: 55px;
        width: 55px;
        margin: 10px;
        background-color: $secondary-color;
        border-radius: 50%;
    }
    

}