@use "./variables" as *;

.title {
    display: flex;
    font-family: $font-title;
    font-size: 90px;
    padding: 20px;

    &__paragraph {
        font-family: $font-paragraph;
        font-size: $font-size-paragraph;
        padding: 80px 85px 80px 20px;
        padding-top: 80px;
        padding-bottom: 80px;
        line-height: $line-height;
    }
}

@media screen and (min-width: 768px) {

    .title {
        padding-left: $padding-sides-desktop;
        padding-right: $padding-sides-desktop;

        &__paragraph {
            padding-left: $padding-sides-desktop;
            padding-right: $padding-sides-desktop;
        }
    }

}

@media screen and (min-width: 1024px) {

    .title {
        justify-content: center;
        font-size: 86px;
    }
    
}

@media screen and (min-width: 1440px) {

    .title {
        justify-content: center;
        font-size: 110px;
    }

    
}