@use "./variables" as *;

.name__button {
    display: flex;
    justify-content: center;
    font-family: $font-title;
    font-size: 30px;
    color: $primary-color;
    text-decoration: none;
    padding-bottom: 100px;
    padding-top: 20px;
}

    .nav__button {
    display: none;
}

@media screen and (min-width: 768px) {
    
    nav {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        padding-top: 40px;
        
    }
    .name__button {
        padding-top: 0;
    }
       
    .nav__button {
        display: flex;
        font-family: $font-paragraph;
        color: $primary-color;

    }
}