@use "./variables" as *;

.skills {
    display: none;
}

@media screen and (min-width: 768px) {

    .skills {
        display: none;
    }
}

@media screen and (min-width: 1024px) {

    .skills {
        display: unset;
        
        &__heading-text {
            display: flex;
            justify-content: space-between;
            padding-left: $padding-sides-desktop;
            padding-right: $padding-sides-desktop;
    
        }

        &__heading {
            font-family: $font-title;
            font-size: $font-size-heading;
        
        }

        &__text {
            font-family: $font-paragraph;
            font-size: $font-size-paragraph;
            padding-bottom: 40px;
            width: 700px;
            
        }

        &__icons {
            display: flex;
            justify-content: center;
            padding-left: 250px;
            padding-bottom: 80px;
            width: 800px;
            // padding-right: $padding-sides-desktop;
        }
    }
}
