@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Inter&display=swap');

$font-title: "Cormorant" , sans-serif; 
$font-paragraph: "Inter" , sans-serif;
$font-size-heading: 38px;
$font-size-paragraph: 18px;
$primary-color: black;
$secondary-color: white;
$tertiary-color: grey;
$background-color: white;
$line-height: 28px;
$padding-sides-mobile: 20px;
$padding-sides-desktop: 60px;