@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Inter&display=swap');

$font-title: "Cormorant" , sans-serif; 
$font-paragraph: "Inter" , sans-serif;
$primary-color: black;
$secondary-color: white;
$tertiary-color: grey;
$background-color: white;
$standard-height: 28px;