@use "./variables" as *;

@use "./nav.scss";

@use "./header.scss";

@use "./about.scss";

@use "./portfolio.scss";

@use "./_contact.scss";

@use "./footer.scss";

@use "./skills.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: normal;
}

// body {
//     margin-left: 20px;
//     margin-right: 20px;
// }

// @media screen and (min-width: 768px) {
    
//     body {
//         margin-left: 60px;
//         margin-right: 60px;
//     }

// }